* {
    background-color: turquoise;
}

#container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    background-color: lightcoral;
    height: 800px;
}

#rowDiv {
    display: flex;
    justify-content: space-around;
    height: 40px;
    background-color: lightgreen;
}

#columnDiv {
    display: flex;
    justify-content: space-evenly;
    height: 30px;
    width: 30px;
    background-color: lightblue;
}