* {
    background-color: turquoise;
}

#header,
#center,
#footer {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: lightcoral;
    height: 500px;
    width: 500px;
}

#rowDiv {
    display: flex;
    flex-grow: 1;
    background-color: lightgreen;
}

#columnDiv {
    display: flex;
    flex-grow: 1;
    background-color: hotpink;
}

#test {
    background-color: turquoise;
}